{% extends 'nightout/base.html' %}
{% load static %}
{% block content %}
    <div class="container">
            <div class="bg-secondary p-5 rounded" style="margin-top: 80px;">
                  <h3>Choose an Event</h3>
                  <ul style="list-style-type: none;">
                  {% for event in events %}
                   <li><a href="{% url 'NightOut:voting' pk=event.pk %}" style="color: #fff">{{event.event_name}}</li>
                  {% endfor %}
                  </ul>
            </div>
      </div>
{% endblock %}