{% extends 'nightout/base.html' %}
{% load static %}
{% block content %}
<div style="padding-top: 150px;">
	<div class="card">
		<div class="inner-box" id="card">
			<div class="card-front">
				<h2>Register</h2>
				<form method="POST" action="">
                    {% csrf_token %}
                    {{form.username.label}}
                    {{form.username}}
                    {{form.email.label}}
                    {{form.email}}
                    {{form.password1.label}}
                    {{form.password1}}
                    {{form.password2.label}}
                    {{form.password2}}

                    <button type="submit" name="Create User">Register</button>
                </form>
			</div>
		</div>
	</div>
</div>
{% endblock %}